				<section id="cta">

					<h2>In die Mailingliste eintragen</h2>
					<p>Wir tauschen uns über eine Mailingliste aus. Bleibe auf dem Laufenden und trage dich ein.</p>

					<form method="post" action="https://lists.freifunk.net/mailman/subscribe/ortenau-freifunk.net" target="_blank">
						<div class="row uniform 50%">
							<div class="7u 12u(mobilep)">
								<input type="email" name="email" id="email" placeholder="E-Mail Adresse" />
							</div>
							<div class="5u 12u(mobilep)">
								<input type="submit" value="Eintragen" class="fit" />
							</div>
						</div>
					</form>

				</section>
