<header id="header" class="skel-layers-fixed">
	<h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
	<nav id="nav">
		<ul>
        {% assign nav_pages = (site.pages | where: 'main_menu', true | sort: 'weight') %}
        {% for p in nav_pages %}
          {% if p.title %}
					<li>
						<a class="page-link{% if p.top_url == page.top_url %} active{% endif %}" href="{% if p.menu_link_url %}{{ p.menu_link_url }}{% else %}{{ p.top_url | prepend: site.baseurl }}{% endif %}">
							{{ p.title }}
						</a>
						{% if p.sub_menu %}
							<ul>
								{% assign sub_pages = (site.pages | where: 'top_url', p.url | sort: 'sub_weight') %}
								{% for s in sub_pages %}
									{% if s.title != p.title %}
										<li>
											<a class="page-link{% if s.url == page.url %} active{% endif %}" href="{% if s.sub_menu_link_url %}{{ s.sub_menu_link_url }}{% else %}{{ s.url | prepend: site.baseurl }}{% endif %}">
												{{ s.title }}
											</a>
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						{% endif %}
					</li>
          {% endif %}
        {% endfor %}
        </ul>
	</nav>
</header>
