<div class="social-links">
    Teilen auf: &nbsp;
    <a href="https://twitter.com/intent/tweet?text={{ include.post.title }}&url={{ site.url }}{{ include.post.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
      <span class="fa-stack fa-sm">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x"></i>
      </span>Twitter
    </a>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ include.post.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
      <span class="fa-stack fa-sm">
        <i class="fa fa-square-o fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x"></i>
      </span>Facebook
    </a>
</div>
